@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-morGreen-700 {
    background-color: #09a261; /* Example color code */
  }
  .bg-morGreen-600 {
    background-color: #0bb96f; /* Example color code */
  }
}

@layer base {
  body {
    @apply bg-black text-zinc-300;
  }

  h1 {
    @apply font-bold text-2xl mb-3 text-white;
  }

  h2 {
    @apply font-bold text-xl mb-6 text-white;
  }

  .dot {
    @apply inline-flex w-3 h-3 rounded-full bg-black mr-2;
  }

  .dot.green {
    @apply bg-green-500;
  }

  .dot.red {
    @apply bg-red-500;
  }

  pre {
    @apply bg-zinc-800 p-8 rounded overflow-scroll max-h-72 mb-8;
  }

  code {
    @apply overflow-scroll;
  }

  form {
    @apply mb-8;
  }

  label {
    @apply flex text-sm text-zinc-400 mb-4;
  }

  textarea,
  input {
    @apply flex w-full rounded text-zinc-700 p-6 mb-8;
  }



  input:focus,
  textarea:focus,
  input:focus-visible,
  textarea:focus-visible {
    @apply border-[#179c65] ring-1 ring-[#179c65] outline-none;
  }

  button,
  button[type="submit"] {
    @apply bg-morGreen-700 text-white h-12 px-12 rounded-sm hover:opacity-90 transition-colors ease-in-out;
  }

  button:disabled,
  input:disabled,
  textarea:disabled {
    opacity: 1;
    background: #000;
    color: #16a261;
  }

  a:not(.button) {
    @apply text-white underline;
  }

  a.button {
    @apply inline-flex items-center bg-blue-500 text-white h-12 px-12 rounded-full hover:bg-zinc-600 transition-colors ease-in-out;
  }
}


.ant-select-selector{background: white !important;}


.input-container-mor {
  padding: 16px;
  background: #141414;
}

:where(.css-dev-only-do-not-override-1uq9j6g).ant-btn-text:not(:disabled):not(
    .ant-btn-disabled
  ):hover {
  background-color: #09a261;
}

:where(.css-1uq9j6g).ant-btn-text:not(:disabled):not(.ant-btn-disabled):hover {
  background-color: #09a261;
}
.ant-drawer-content {
  background: #000 !important;
}

.ant-form-item .ant-form-item-label > label {
  color: #fff;
}

.ant-btn-primary:disabled {
  background: #000;
  color: #16a261;
  border: 0;
}



.ant-picker-input >input{
  margin-bottom: 0;
}