@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-morGreen-700 {
    background-color: #09a261; /* Example color code */
  }
  .bg-morGreen-600 {
    background-color: #0bb96f; /* Example color code */
  }
}

@layer base {
  body {
    @apply bg-black text-zinc-300;
  }

  h1 {
    @apply mb-3 text-2xl font-bold text-white;
  }

  h2 {
    @apply mb-6 text-xl font-bold text-white;
  }

  .dot {
    @apply mr-2 inline-flex h-3 w-3 rounded-full bg-black;
  }

  .dot.green {
    @apply bg-green-500;
  }

  .dot.red {
    @apply bg-red-500;
  }

  pre {
    @apply mb-8 max-h-72 overflow-scroll rounded bg-zinc-800 p-8;
  }

  code {
    @apply overflow-scroll;
  }

  form {
    @apply mb-8;
  }

  label {
    @apply mb-4 flex text-sm text-zinc-400;
  }

  textarea,
  input {
    @apply mb-8 flex w-full rounded p-6 text-zinc-700;
  }

  input:focus,
  textarea:focus,
  input:focus-visible,
  textarea:focus-visible {
    @apply border-[#179c65] outline-none ring-1 ring-[#179c65];
  }

  button,
  button[type='submit'] {
    @apply bg-morGreen-700 h-12 rounded-sm px-12 text-white transition-colors ease-in-out hover:opacity-90;
  }

  button:disabled,
  input:disabled,
  textarea:disabled {
    opacity: 1;
    background: #000;
    color: #16a261;
  }

  a:not(.button) {
    @apply text-white underline;
  }

  a.button {
    @apply inline-flex h-12 items-center rounded-full bg-blue-500 px-12 text-white transition-colors ease-in-out hover:bg-zinc-600;
  }
}

.ant-select-selector {
  background: white !important;
}

.input-container-mor {
  padding: 16px;
  background: #141414;
}

:where(.css-dev-only-do-not-override-1uq9j6g).ant-btn-text:not(:disabled):not(
    .ant-btn-disabled
  ):hover {
  background-color: #09a261;
}

:where(.css-1uq9j6g).ant-btn-text:not(:disabled):not(.ant-btn-disabled):hover {
  background-color: #09a261;
}
.ant-drawer-content {
  background: #000 !important;
}

.ant-form-item .ant-form-item-label > label {
  color: #fff;
}

.ant-btn-primary:disabled {
  background: #000;
  color: #16a261;
  border: 0;
}

.ant-picker-input > input {
  margin-bottom: 0;
}
